/* Estilos Gerais */
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

p {
    font-size: 14px;
    line-height: 20px;
}

a {
    color: inherit;
}

a:hover {
    color: #B22222;
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0px;
}
/* Fim Estilos Gerais */


/* Header */
header {
    background-color: #343A40;
}

.navbar {
    padding: 10px 0px;
}
/* Fim Header */


/* Main */
main {
    padding: 15px 0px;
}
/* Fim Main */


/* Footer */
footer {
    padding: 15px;
    background-color: #343A40;
    color: #FFFFFF;
}

.footer h3 {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #FFFFFF;
    margin: 6px 0 12px 0;
    border-radius: 15px;
}

.footer_copy {
    text-align: center;
    padding-top: 20px;
}

.footer div {
    padding-bottom: 15px;
}
/* Fim Footer */